views/index.html
<html>
<head>
	<title>Whiteboard with FabricJS</title>
	<link rel="stylesheet" type="text/css" href="lib/css/foundation.min.css">
</head>
<body>
<div class="row">
  <div class="large-3 columns">...</div>
  <div class="large-6 columns">
  	<canvas id="canvas"></canvas>
  </div>
  <div class="large-3 columns">...</div>
</div>
<div class="row">
  <div class="large-3 columns">...</div>
  <div class="large-6 columns">
	<ul class="button-group">
	  <li><a href="#" class="tiny button" onclick="drawEllipse()">Ellipse</a></li>
	  <li><a href="#" class="tiny button" onclick="drawRect()">Rectangle</a></li>
	  <li><a href="#" class="tiny button" onclick="drawLine()">Line</a></li>
	  <li><a href="#" class="tiny button" onclick="drawFreeline()">Free line</a></li>
	</ul>
  </div>
  <div class="large-3 columns">...</div>
</div>
<script src="lib/js/jquery.min.js"></script>
<script src="lib/js/fabric.min.js"></script>
<script src="lib/js/wbfunctions.js"></script>
</body>
</html>

views/index.jade
!!! 5
html
  head
    title Whiteboard with FabricJS
    link(rel='stylesheet', type='text/css', href='lib/css/foundation.min.css')
  body
    .row
      .large-3.columns ...
      .large-6.columns
        canvas#canvas
      .large-3.columns ...
    .row
      .large-3.columns ...
      .large-6.columns
        ul.button-group
          li
            a.tiny.button(href='#', onclick='drawEllipse()') Ellipse
          li
            a.tiny.button(href='#', onclick='drawRect()') Rectangle
          li
            a.tiny.button(href='#', onclick='drawLine()') Line
          li
            a.tiny.button(href='#', onclick='drawFreeline()') Free line
      .large-3.columns ...
    script(src='lib/js/jquery.min.js')
    script(src='lib/js/fabric.min.js')
    script(src='lib/js/wbfunctions.js')
